<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>管理系统</title>
    <% include component/css.ejs %>
  </head>
  <body class="index-body">
    <%include component/header.ejs%>
    <section class="container index">
      <h3 class="text-center ticket-color-white">管理系统</h3>
      <div>
        <form class="form-good-submit">
          <div class="form-group">
            <label for="cinemaName">电影院名称：</label>
            <input type="text" class="form-control" id="cinemaName" placeholder="" maxlength='20'>
            <span class="text-danger err-msg">不允许为空</span>
          </div>
          <div class="form-group">
            <label for="cinemaAddress">地址：</label>
            <input type="text" class="form-control" id="cinemaAddress" placeholder="">
            <span class="text-danger err-msg">不允许为空</span>
          </div>
          <div class="form-group">
            <label for="movieName">片名：</label>
            <input type="" class="form-control" id="movieName" placeholder="">
            <span class="text-danger err-msg">不允许为空</span>
          </div>

          <div class="form-group">
            <label for="moviePrice">票价：</label>
            <input type="number" class="form-control" id="moviePrice" placeholder="">
            <span class="text-danger err-msg">不允许为空</span>
          </div>

          <div class="form-group">
            <div>
              <label for="">座位：</label>
            </div>           
            <input type="number" class="form-control ticket-inline" id="seatRow" placeholder="行" >
            <span class="ticket-size-lg ticket-verticl">*</span>
            <input type="number" class="form-control ticket-inline" id="seatCol" placeholder="列" >
            <span class="text-danger err-msg seatCol">不允许为空</span>
          </div>

          <div class="form-group select-time">
            <label for="playTime">时间：</label>
            <input type="" class="form-control play-time"  placeholder="日／小时：分钟 - 日／小时：分钟">
            <span class="text-danger err-msg">不允许为空</span>
            <span class="fa fa-plus-square other-time" data-toggle="tooltip" data-placement="right" title="添加另外时间"></span>
          </div>
          <div class="form-group select-empty-seat">
              <label for="emptySeat">空席位：</label>
              <input type="" class="form-control empty-seat"  placeholder="5排1列-5排2列">
              <!-- <span class="fa fa-plus-square other-seat" data-toggle="tooltip" data-placement="right" title="添加另外空席位"></span> -->
            </div>
          <div class="form-group">
            <label for="notice">活动须知：</label>
            <input id="notice" class="form-control" maxlength="100" placeholder="活动注意事项" />
            <span class="text-danger err-msg">不允许为空</span>
          </div>
          <button type="button" class="btn btn-success" id="cinemaSubmit">提交</button>
        </form>
      </div>
    </section>
    <div class="ticket-empty-line"></div>
    <!-- 生成二维码和链接 -->
    <div class="modal fade show-link"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div>链接</div>
          </div>
          <div class="modal-body">
            <div><a href="" class="genorate-link" target="_blank">点我进入购票</a></div>
            <h4>扫码进入购票</h4>
            <div id='ticket-code' class='text-center'></div>
          </div>
        </div>
      </div>
    </div>

    <% include  component/js.ejs%>
    <script>
      $(function(){
        var timeInput ='<input type="" class="form-control play-time ticket-mt-sm"  placeholder="日／小时：分钟 - 日／小时：分钟"><span class="text-danger err-msg">不允许为空</span> <span class="fa fa-minus-square"></span>'
        // var emptySeatInput ='<input type="" class="empty-seat form-control ticket-mt-sm"  placeholder="5排1列"><span class="fa fa-minus-square"></span>'
        //触发模态框
        if($('#myModalLogin').hasClass('show-login')){
          $('#myModalLogin').modal('show');
          $('.show-login').css('display','block')
        }
        //出发tooltips
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        //clone 时间的输入框
        $('.other-time').click(function(){
          $(".select-time").append(timeInput)
        })
        $('.select-time').on('click','.fa-minus-square',function () {
          $(this).fadeOut().prev('input').fadeOut()
        })
        //空座位的设置
        // $('.other-seat').click(function(){
        //   $(".select-empty-seat").append(emptySeatInput)
        // })
        // $('.select-empty-seat').on('click','.fa-minus-square',function () {
        //   $(this).fadeOut().prev('input').fadeOut()
        // })
      })
    </script>
  </body>
</html>
