<header>
  <nav class="">
    <div class="right_user_message collapse navbar-collapse in" id="show-login">
      <div class="modal <%= userinfo.login?'':'show-login'%>" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog ticket-modal" role="">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">欢迎登陆</h4>
            </div>
            <div class="modal-body">
              <form>
                  <div class="form-group">
                    <label for="loginEmail">输入用户名</label>
                    <input type="email" class="form-control" id="loginEmail" placeholder="邮箱地址">
                  </div>
                  <div class="form-group">
                    <label for="loginPassword">输入密码</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="6-8位数字或字母">
                  </div>
                  <a type="" class="btn btn-info" id="ticket-login-submit">登陆</a>
              </form>
              <div class="alert alert-danger" role="alert" id="login_error_cue" style="display: none">
                  密码错误，请重新输入
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- 登录 -->
<script>
		$("#ticket-login-submit").click(function () {
			$.post("/doLogin",{
				"username" : $("#loginEmail").val(),
				"userpassword" : $("#loginPassword").val(),
			},function(result){
        if(result=="1"){
					$('#myModalLogin').modal('hide');
          window.location.reload()
				}else if(result=="-1"){
					$("#login_error_cue").fadeIn().html("用户名不存在");
				}else if(result=="-5"){
					$("#login_error_cue").fadeIn().html("服务器错误");
				}
				else if(result=="-2"){
					$("#login_error_cue").fadeIn().html("密码错误");
				}
			})
			return false;
		})
	</script>

<!-- 退出 -->
<script type="text/javascript">
  $("#user_exit").click(function() {
    $.get("/user_exit",{},function(result){
  				if(result=='-1') {
					 	console.log("exit");
  				}
		})
  })
</script>
