<div class="loading">
	<div class="loading-front">
		<h3>
				<span>信息正在上传...</span> <br>
				<span class="sec-loading-text">有时候上传数据就像下面这样...</span> 
		</h3>
		<div class="text-center">
				<img src="/sys-img/scampus-loading.gif" alt="">
		</div>
	</div>
</div>
<!-- canvas的预准备内容 -->
<canvas id="uploadImg" style="display:none"></canvas>