<form class="navbar-form  form-control sec-nav-bar">
  <div class="sec-search-box ">
    <div class="input-group">
      <input type="text" id="search-title" class="form-control sec-form-search" placeholder="登录后才能搜哦！" aria-describedby="basic-addon2">
      <%if(userdata.login){%>
        <span class="input-group-addon" id="search-submit" role="button" type="button">搞起</span>
      <%} else {%>
        <span class="input-group-addon"  role="button" type="button" disabled>搞起</span>
      <%}%>
    </div>
  </div>
  <div class="sec-show-search-logo">
    <span class="glyphicon glyphicon-search"></span>
  </div>
</form>